<html>
    <body>
        <h1>{{ title }}</h1>
        <form method="post" action="/">
            <input type="submit" value="refresh">
        </form>
        {% for host, info in dict_hosts.items() %}
            <p style="color:{{'green' if info.active else 'red'}}">{{ host }}: {{info.ip}} {% if info.test %} ({{info.test}}) {% endif %}</p>
            <form method="post" >
                <input name="host" id="title" value="{{host}}" hidden>
                <input type="submit" name="add" value="add" {% if info.active %}disabled{%endif%}>
                <input type="submit" name="delete" value="delete" {% if not info.active %}disabled{%endif%}>
                <input type="submit" name="test" value="Test">
            </form>

        {% endfor %}
    </body>
    <pre>{{ logs }}</pre>
    <form method="post" action="/">
        <input type="submit" name="refresh" value="refresh logs">
    </form>
</html>